<div class="container">
    <div class="container text-center">
        <h1 class="display-5" id="productHeader">Product</h1>
        <!-- Thêm nút dẫn đến form thêm sản phẩm -->
        <!-- <button class="btn btn-success mt-2" routerLink="/products/add">Thêm sản phẩm</button> -->
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6">
            <img [src]="product?.imgUrl" alt="{{ product?.name }}" id="productImg">
        </div>
        <div class="col-md-6">
            <div *ngIf="product">
                <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
                <p>Price: ${{ product.price }}</p>
                <div>
                    <label for="quantity">Quantity:</label>
                    <input type="number" id="quantity" name="quantity" [(ngModel)]="selectedQuantity" min="1">
                </div>
                <button class="btn btn-primary" (click)="addToCart(product.id, selectedQuantity)">Add to Cart</button>
            </div>
        </div>
    </div>
</div>
